html, body { margin: 0; padding: 0;	font-family: "Microsoft YaHei UI"}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q,
s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form,
label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; font-weight: normal;
    font-style: normal; font-family: inherit;
}
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#bj-shade{
    display: block;
    position: absolute;
    background:url("../img/bj.jpg");
    z-index: 1;
    background-size: cover;
}